old_readme.md
us_manuel.txt
temp_diff.txt
remap.ps1
removetoc.ps1
settings.json
diagrama.puml
fix_readme.py
plantuml.jar
resources/chapter-2/plantuml-src/
README.pdf
structurizr_extracted.txt
upc-pre-202620-1acc0238-4945-routegolem-report-av1.pdf